.error {
	padding: 1rem;
	background-color: rgb(246, 197, 197);
	border-radius: 10px;

	& > .error-title {
		color: #930303;
	}

	& > .error-message {
		color: #710a0a;
	}

	& > .error-confirmation {
		display: flex;
		justify-content: flex-end;
		margin-top: 1.5rem;
		padding-top: 1rem;
		border-top: 1px solid rgb(150, 32, 32);

		& > button {
			background-color: #690202;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 5px rgb(251, 141, 141);
			}

			&:hover {
				background-color: lighten(#690202, 10);
			}
		}
	}
}
