.error {
	padding: 1.5rem;
	background-color: rgb(246, 197, 197);
	border-radius: 10px;

	& > .error-title {
		font-size: 1.8rem;
		color: #930303;
	}

	& > .error-message {
		color: #710a0a;
	}

	& > .error-confirmation {
		padding-top: 1rem;

		& > button {
			width: 100%;
			background-color: #690202;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 5px rgb(251, 141, 141);
				background-color: lighten(#690202, 10);
			}

			&:hover {
				background-color: lighten(#690202, 10);
			}
			@media screen and (width >= 400px) {
				width: max-content;
			}
		}

		@media screen and (width >= 400px) {
			display: flex;
			justify-content: flex-end;
		}
	}
}
